@model IEnumerable<ProductDemo.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Products" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pro_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pro_Prize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                   Total
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pro_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pro_Prize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
                <td>
                    @(item.Pro_Prize * item.Quantity)
                </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.Pro_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pro_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pro_Id">Delete</a>
            </td> *@
                <a asp-controller="Cart" asp-action="CheckOut" class="btn btn-success">Proceed to Checkout</a>
        </tr>
}
    </tbody>
</table>
